body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-size: 10px;
}

div{
   margin-top: 15px;
    text-align: center;
}
.tran{
    height: 90px ;
    width: 90px ;
    background-color: rgb(204, 197, 245);
    margin: 15px;
    border-radius: 5px;
}

.cont{
    display: flex;
    justify-content: center;
}
input{
    font-family: 'Anton', sans-serif;
    font-size: 10px;
    border-radius: 5px;
}