body{
    display: flex;
    justify-content: center;
}

.contaner{
    width: 300px;
    height: 400px;
    background-color: antiquewhite;
    margin-top: 60px;
    text-align: center;
    border-radius: 20px;
    font-family: 'Anton', sans-serif;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%)
}
 input{
   margin-top: 5px;
     border-radius: 8px;
     text-align: center;

     
    
 }
 .socend{
     margin-top: 30px;
 }
button{
    font-family: 'Anton', sans-serif;
}